body{
    padding: 0px;
    margin: 0px;
}
.continue{
    width: 100%;
    height: 3800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.banner>header>img{
    width: 100%;
    height: 400px;
    

}
marquee{
   
    height: 20px ;
    color: brown;
}
.menu{
    
    height: 50px;
    background-color:brown;

}
.menu>nav>ul>li>a{
    color: white;
    text-decoration: none;
    margin: 40px;
    
}
.menu>nav>ul{
    display: inline-block;
    list-style: none;
  
}

.noidung{
    width: 100%;
    height: 3000px;
    display:flex ;
}
#trai{
    flex-basis: 40%;
    justify-content: center;
    background-color: rgb(255, 184, 170);
}
#phai{
    flex-direction: column;
    flex-basis: 80%;
    background-color: white;
}
.doan1{
    background-color: bisque;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  
    
}
h2{
    padding: 20px;
   color: brown;
   
}
#con1>img{
    width: 250px;
    height: 500px;
    background-color: rgb(233, 242, 242);
    display: flex;
    margin: 10px;
    border-radius: 200px;
    box-shadow: 0px 0px 15px ;

}

.doan2{
   
    display: flex;
    
    justify-content: center;
    margin-bottom: 50px;
}
#con2{
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 170px;
    background-color: brown;
    margin: 10px;
 
}
.noidung>img{
    display: flex;

}
.doan3{
    display: flex;
    
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color:  bisque;
}
#con3>img{
    display: flex;
    flex-direction: row;
    background-color: brown;
    margin: 5px;
    height: 450px;
    width: 250px;
    border-radius: 20px;
    margin-right: 10px;


}
#con4{
    display: flex;
    flex-direction: column;
    background-color: brown;
    width: 250px;
    height: 120px;
    margin: 10px;
}
#con5{
    background-color:white;
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 120px;
    margin: 5px;
}
.doan6{
    padding-top: 110px;
    padding-bottom: 110px;
   
    display: flex;
    justify-content: center;

}
#con6{
    display: flex;
    margin: 5px;
    width: 290px;
    height: 400px;
    flex-direction: row;
    background-color: antiquewhite;

}
#con6>img{
    width: 290px;
    height: 400px;

}
.doan7{
    background-color:bisque;
    display: flex;
    padding: 80px;
    padding-bottom:100px ;
    justify-content: center;

}
#con7{
    justify-content: center;
   
    display: flex;
    width: 600px;
    height: 400px;
}
#con8{
    justify-content: center;
    margin: 40px;
}
#con8>input{
    display: flex;
    margin: 40px;
    flex-direction: column;
    width: 400px;
    height: 30px;


}
.duoi{
    background-color: brown;
    height: 350px;

}
.menu :hover{
    color: black;
}