body{
    padding: 0px;
    margin: 0px;
}
.continue{
    width: 100%;
    height: 3800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.banner>header>img{
    width: 100%;
    height: 350px;
    

}
marquee{
    color: brown;
    height: 20px;
}
.menu{
    
    height: 50px;
    background-color:brown;

}
.menu>nav>ul>li>a{
    color: white;
    text-decoration: none;
    margin: 40px;
    
}
.menu>nav>ul{
    display: inline-block;
    list-style: none;
  
}

.noidung{
    width: 100%;
    height: 3000px;
    display:flex ;
}
#trai{
    flex-basis: 40%;
    justify-content: center;
    background-color: rgb(255, 222, 215);
}
#phai{
    flex-direction: column;
    flex-basis: 80%;
    background-color: white;
}
.doan1{
    background-color: rgb(255, 238, 218);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  
    
}
h2{
    padding: 20px;
   color: brown;
   
}
#con1>img{
    width: 250px;
    height: 500px;
    background-color: rgb(233, 242, 242);
    display: flex;
    margin: 10px;
    border-radius: 200px;
    box-shadow: 0px 0px 15px ;

}

.doan2{
   
    display: flex;
    
    justify-content: center;
    margin-bottom: 50px;
}
#con2{
    display: flex;
    flex-direction: row;
    width: 250px;
    height: 180px;
    background-color:white;
    margin: 10px;
 
}
.con22{
    display: flex;
    flex-direction: row;
}
.con22>img{
    width: 130px;
    height: 170px;
    margin: 5px;
}
.con22>a{
    color: brown;
    margin: 10px;
    text-decoration: none; /*bỏ dấu gạch chân */
}

.con22:hover{
    background-color:rgb(255, 238, 218);
    box-shadow: 0px 0px 10px rgb(234, 60, 60);
}
.noidung>img{
    display: flex;

}
.doan3{
    display: flex;
    
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: rgb(255, 238, 218);
}
#con3>img{
    display: flex;
    flex-direction: row;
    background-color: brown;
    margin: 5px;
    height: 450px;
    width: 250px;
    border-radius: 20px;
    margin-right: 10px;


}
#con4{
    display: flex;
    flex-direction: column;
    background-color:rgb(255, 255, 235);
    height: 120px;
    margin: 10px;
}
#con5{
  
    display: flex;
    flex-direction: row;
    margin: 5px;
}
#con5>img{
    width: 100px;
    height: 110px;
}
#con5>a{
    padding-top: 10px;
    color: brown;
    margin: 5px;
    text-decoration: none;
}
#con4:hover{
    background-color: white;
    box-shadow: 0px 0px 5px rgb(249, 83, 83);
}
.doan6{
    padding-top: 110px;
    padding-bottom: 110px;
   
    display: flex;
    justify-content: center;

}
#con6{
    display: flex;
    margin: 5px;
    width: 290px;
    height: 400px;
    flex-direction: row;
    background-color:rgb(255, 238, 218);

}
#con6>img{
    width: 290px;
    height: 400px;

}
#con6>p{
    color: brown;
   padding-top: 40px;
   margin: 5px;
}
.doan7{
    background-color:rgb(255, 238, 218);
    display: flex;
    padding: 80px;
    height: 425px;
    justify-content: center;

}
.doan7 form{
   width: 500px;
   height: 400px;
    background-color: white;
    border: 1px solid brown;
    border-radius: 50px;
}
table tr td  input{
    margin: 10px;
}
#nut{
    
    border-radius: 20px;
    border: 3px solid brown;
    width: 80px;
    height: 30px;
    box-shadow: 0px 0px 5px brown;
    background-color: gainsboro;
}
#nut:hover{
    background-color: brown;
    color: white;
    box-shadow: 0px 0px 5px black;
}


.duoi{
     background-color: brown;
    height: 350px;
    display: flex;
    flex-direction: row;

}

.cuoi1{
    padding-left: 150px;
    display: flex;
    flex-direction: column;
    color: white;
    margin:50px;
    text-align: justify;
    
}
.cuoi2{
    display: flex;
    flex-direction: column;
    margin: 50px;
    margin-left: 200px;
    text-align: justify;
    color: white;
}

.menu :hover{
    color: black;
   
}

